.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-size: 100% 132%;
  height: 400px;
  width: 350px;
}

.loader {
  width: 350px;
  height: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  // background-image: url(https://coditas-resource-management.s3.ap-south-1.amazonaws.com/assets/output.gif);
}