
/* Webfont: Alegreya Sans */@font-face {
    font-family: 'AlegreyaSans-Regular';
    src: url('../assets/fonts/AlegreyaSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}