$black: #000;
$white: #fff;
$grey: #F2F2F8;

$dark-blue: #081529;
$active-blue: #0869FE;
$hover-blue: #115CCF;
$theme-blue: #62a8ea;
$bluish-grey: #F6F6FC;
$fill-grey: #E3E8F6;
$border-grey: #C1C7D0;
$title-color: #091E42;
$subtitle-color: #07224D;
$blue-text: #505F79;
$light-grey: #E1E3E8;
$menu-grey: #5A6B86;
$tertiary-grey: #6B778C;
$review-yellow: #FFF0DD;
$progress-grey: #F0F0F4;
$published-green: #DAF4EF;
$approved-blue: #D1E3FE;
$blue-shade: #E5F1FE;
$grey-shade: #F7F7F8;
$active-green: #009c24;
$light-green: #5cd29d;

$box-shadow: 0px 1px 2px 0px rgba(36, 44, 56, 0.1);

$page-background: #F5F8FB;
$text-color: #505660;
// $title-color: #344b62;
$theme-grey: #ddd;
$theme-dark-grey: #aaa;
// $title-color: #114258;
$btn-green: #00796b;
$overlay-black: rgba(0, 0, 0, 0.7);
$danger-red: #fe6161;
$error-red: #d00000;
$warning-yellow: #e3ad07;
$bp-base-color: #5cd29d;
$faq-base-color: #57c7d4;
$api-base-color: #00627f;
$header-icon-color: #242c38;
$header-text-color: #222200;
$user-profile-bg-color: #f5f8fb;
$notification-bg-color: #4e4e4e;
$modal-primary-color: #505660;
$cancel-btn-color: #474c56;
$tab-color: #242c38;
$table-header: #505660;
$table-header-inactive: rgba(106, 112, 120, 0.76);
$table-text: #6a7078;
