@import "@styles/_variables.scss";

.global-sidenav-section {
	.global-navigation {
		height: 100vh;
		background-color: $dark-blue;
		.nav-items-list {
			font-size: 20px;
			color: $black;
			padding: 0.25em 0.5em;
			li {
				height: 52px;
				width: 100%;
				display: flex;
				align-items: center;
				cursor: pointer;
				text-align: center;
				margin-bottom: 0.75em;
				padding: 0.25em 0.75em;
				transition: width 0.5s, border-radius 0.5s;
				img.global-menu-icon {
					width: 24px;
					height: 24px;
				}
				p {
					margin-bottom: 0;
					margin-left: 1em;
					color: $white;
					font-size: 14px;
					width: 0;
    				overflow: hidden;
					transition: width 0.2s;
				}
				&.active-nav {
					font-family: Nunito-Sans-Bold;
					background-color: $active-blue;
					border-radius: 4px;
				}
			}
		}
	}
	&.sidenav-collapsed {
		.nav-items-list {
			li {
				width: 52px;
				&.active-nav {
					border-radius: 50%;
				}
			}
		}
	}
	&.sidenav-expanded {
		.nav-items-list {
			li {
				text-align: left;
				&.active-nav {
					border-radius: 65px;
				}
				p {
					width: auto;
				}
			}
		}
	}
}
