.cart-items-section {
  margin-top: 72px;
  padding: 2em 0em;
  .my-cart-title {
    font-size: 24px;
    margin: 24px 0;
    color: #000;
    font-weight: bold;
  }
  .cart-item-card {
    width: 100%;
    margin: 0 0 16px 0;
    background: #fff;
    padding: 24px;
    border-radius: 6px;
    display: flex;
    img {
      width: 100px;
      height: 100px;
    }
    .prod-details-wrapper {
      margin-left: 1em;
      width: 70%;
      margin-right: 5em;
      .prod-name-span {
        color: black;
        font-size: 20px;
      }
      .prod-price-wrapper {
        margin-top: 0.5em;
        .prod-price-span {
          font-size: 18px;
          color: black;
          font-weight: 500;
          padding-right: 8px;
        }
        .prod-old-price-span {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.5);
          text-decoration: line-through;
          padding-right: 8px;
        }
        .you-save-span {
          font-size: 14px;
          color: rgb(0, 161, 0);
        }
      }
      .increment-btn-wrapper {
        margin-top: 1em;
        align-items: center;
        display: flex;
        .decrement-span {
          font-size: 35px;
          cursor: pointer;
        }
        .quantity-span {
          font-size: 18px;
          color: black;
          margin: 0px 1em;
        }
        .increment-span {
          font-size: 35px;
          cursor: pointer;
        }
      }
    }
    .remove-btn {
      font-size: 25px;
      color: red;
      cursor: pointer;
      margin-top: 5px;
    }
  }
  .payment-details-card {
    background-color: white;
    padding: 24px;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 4px;
    padding-bottom: 40px;
    h4 {
      font-size: 18px;
      color: #000000;
      padding: 0 0 20px;
    }
    .total-price-wrapper {
      padding: 0 0 8px;
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 14px;
      label {
        float: left;
        color: rgba(0, 0, 0, 0.5);
      }
      span {
        float: right;
        color: #000000;
      }
    }
    .total-amt-wrapper {
      border: 0;
      padding: 0;
      font-size: 14px;
      color: black;
      display: flex;
      justify-content: space-between;
    }
    .save-txt {
      float: right;
      font-size: 14px;
      color: #00a100;
    }
  }
  .place-order-btn {
    width: 50%;
    float: right;
    background-color: #008ecc;
    font-size: 14px;
    color: white;
    border-radius: 4px;
    padding: 10px 6px;
    border: none;
  }
}
.empty-cart-section {
  margin-top: 72px;
  .empty-cart-wrapper {
    text-align: center;
    margin-top: 5em;
    img {
      width: 250px;
      height: 250px;
    }
    h3 {
      font-size: 16px;
      margin: 20px 0 8px;
    }
    p {
      font-size: 13px;
      margin: 0 0 25px;
      color: rgba(0, 0, 0, 0.6);
    }
    .add-product-btn {
      background-color: #008ecc;
      font-size: 14px;
      color: #fff;
      border-radius: 4px;
      padding: 10px 6px;
      width: 50%;
      border: none;
      margin-bottom: 25px;
      cursor: pointer;
    }
  }
}
