@import "@styles/_variables.scss";

.high-order-global-container {
    .global-sidenav-section {
        background-color: $white;
        width: 5em;
        transition: width 0.5s;
        z-index: 2;
        position: fixed;
        &.sidenav-expanded {
            width: 20em !important;
        }
    }
    .global-content-section {
        flex: 1;
        width: calc(100% - 5em);
	    margin-left: 5em;
    }
}